.password {
  padding: 5px;
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  background-color: grey;
  box-shadow: 2px 2px 6px rgb(22, 22, 22);
  width: 320px;
}

.password-short {
  background-color: rgb(165, 70, 70);
}
.password-weak {
  background-color: rgb(165, 70, 70);
}
.password-medium {
  background-color: yellow;
}
.password-strong {
  background-color: green;
}
